@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

:root {
  --color-primary: 57 224 121;    /* #39E079 */
  --color-background-light: 246 248 247; /* #f6f8f7 */
  --color-background-dark: 18 32 23;     /* #122017 */
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

/* Reset everything to ensure full viewport */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Define custom utilities for your colors */
.bg-background-light {
  background-color: rgb(var(--color-background-light));
}

.bg-background-dark {
  background-color: rgb(var(--color-background-dark));
}

.bg-primary {
  background-color: rgb(var(--color-primary));
}

.text-primary {
  color: rgb(var(--color-primary));
}

.text-background-dark {
  color: rgb(var(--color-background-dark));
}
